

<table id="{{ table_id }}" class="table table-sm align-middle mb-0 bg-white" style="width:100%">
    <thead class="bg-light">
        <tr>
        	{% if show_checkbox %}
             	<th data-dt-order="disable">
             		{% if allow_select_all %}
 						<input class="form-check-input" type="checkbox" id="select-all-{{table_id}}">
 					{% endif %}
 				</th>
 			{% endif %}
            {% for column in columns %}
                <th {%  if column.title == "Actions" %}data-dt-order="disable" {% endif %} >{{ column.title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script>
    $(document).ready(function() {
    	var disableSelectAll = false;
    	var disableDownload = false;
    	
        var table = $('#{{ table_id }}').DataTable({
        	"responsive": true,
        	"bLengthChange": false,
            "ajax": {
                "url": "{{ data_url }}",
                "dataSrc": ""
            },
            "autoWidth": true,
            "columns": [
            	{% if show_checkbox %}
	            	{
	                    "data": null,
	                    "defaultContent": '<input class="form-check-input row-checkbox" type="checkbox">'
	                },
	            {% endif %}
                {% for column in columns %}
                    { "data": "{{ column.data }}" },
                {% endfor %}
            ],
            {% if include_seach_panes %}
	            "columnDefs": [
	            	{
	            		"searchPanes": {
	            			"initCollapsed": true,
	            			"show": true
	            		},
	            		"targets": [1, 2]
	            	},
	            	{
	            		"searchPanes": {
	            			"show": false,
	            		},
	            		"targets": [3, 4]
	            	}
	            ],
	            "layout": {
	            	"top1": {
	            		"searchPanes": {
	            			"viewTotal": true
	            		}
	            	}
	            },
            {% endif %}
	        {% if date_sort %}
		        "columnDefs": [
		        	{ 
		        		targets: 2, // Assuming 'Date' column is index 0
		                render: function(data, type, row) {
		                    // Parse date using Luxon DateTime
		                    const dt = luxon.DateTime.fromFormat(data, 'yyyy-MM-dd HH:mm');
		                    
		                    // Return formatted date for display
		                    if (type === 'display' || type === 'type') {
		                        return dt.toFormat('dd-MM-yyyy HH:mm');
		                    }
		                    
		                    // Return ISO 8601 format for sorting
		                    return dt.toISO();
		                }
		        	}
		        ],
	        {% endif %}
            "createdRow": function(row, data, dataIndex) {
            	if (data.records === 0 || data.records_count == 0) {
            		$(row).find('input.row-checkbox').attr('disabled', true);
            		disableSelectAll = true;
            	}
            },
            "initComplete": function() {
                if (disableSelectAll) {
                    $('#select-all-{{table_id}}').attr('disabled', true);
                }
            }
        });

        var selectedNames = new Set();

     	// Handle click on select all control
        $('#select-all-{{table_id}}').on('click', function(){
        	var isChecked = $(this).is(':checked');
 
            // Get all rows with search applied
            table.rows({ 'search': 'applied' }).every(function() {
            	var row = this.node();
            	// check checkbox is not disabled and include in selection when select all clicked.
            	var checkbox = $('input[type="checkbox"]', row).not(':disabled');
            	checkbox.prop('checked', isChecked);
            	
            	// Update the selectedFieldNames array accordingly
                var selectedName = this.data().name;
                if (isChecked) {
                	selectedNames.add(selectedName);
                } else {
                	selectedNames.delete(selectedName);
                }
            });
            $(document).trigger('{{table_id}}checkboxChanged', [getSelectedNames()]);
        });


     	// Handle click on individual checkboxes
        $('#{{ table_id }} tbody').on('change', 'input[type="checkbox"]', function() {
        	var selectedName = table.row($(this).closest('tr')).data().name;

        	var selectedType = table.row($(this).closest('tr')).data().field_type;
        	if(selectedType !== undefined && selectedName) {
        		selectedName = selectedName + ':' + selectedType;
        	}
       
            // If checkbox is not checked
            if(!this.checked) {
               var el = $('#select-all-{{table_id}}').get(0);
               // If "select all" control is checked and has 'indeterminate' property
               if(el && el.checked && ('indeterminate' in el)) {
                   // Set visual state of "select all" control
                   // as 'indeterminate'
                   el.indeterminate = true;
               }

               selectedNames.delete(selectedName);

            } else {
            	selectedNames.add(selectedName);
            }
  
            // If all checkboxes are checked, set "select all" to checked
            var allChecked = table.$('input[type="checkbox"]').length === table.$('input[type="checkbox"]:checked').length;
            $('#select-all-{{table_id}}').prop('checked', allChecked);
            
            $(document).trigger('{{table_id}}checkboxChanged', [getSelectedNames()]);
        });

     	// Expose the table object for external access
        window['{{ table_id }}_table'] = table;
     	
        function getSelectedNames() {
            return Array.from(selectedNames);
        }
        
    	// Handle actions in the dropdown
        $('#{{ table_id }} tbody').on('click', '.download-action', function(event) {
            event.preventDefault();
            var fileName = table.row($(this).closest('tr')).data().name;
            // Perform the download action with rowData
            window.location.href = "{% url 'tsepamo:download-file' 'placeholder_name' %}".replace('placeholder_name', fileName);
        });
    });
</script>
