{% extends 'datacore/base.html' %}

{% block content %}

<div class="row py-5">
	{% for project in project_details %}
		<div class="col-md-6 mb-5">
			<div class="card border {% if forloop.counter|divisibleby:2 %} border-info {% else %} border-warning {% endif %} shadow-3-strong">
			  <div class="card-header {% if forloop.counter|divisibleby:2 %} text-bg-info {% else %} text-bg-warning {% endif %}">
			    {{ project.verbose_name }}
			  </div>
			  <div class="card-body">
			    <div class="row gx-2">
				    <div class="col">
				      <div><em><b>Project ID</b></em></div>
				    </div>
				    <div class="col">
				      <div><b>{{ project.name }}</b></div>
				    </div>
				 </div>
				  <div class="row gx-2">
				    <div class="col">
				      <div class="text-muted">Instruments</div>
				      <div class="text-muted">Records</div>
				    </div>
				    <div class="col">
				      <div class="text-muted">{{ project.instruments }}</div>
				      <div class="text-muted">{{ project.records }}</div>
				    </div>
				 </div>
				 <div class="row gx-2 pt-2">
					 <!-- Button triggers collapse -->
					 <a
						  class="btn btn btn-outline-info mb-3"
						  data-mdb-collapse-init
						  data-mdb-ripple-init
						  href="#collapse{{project.name}}"
						  role="button"
						  aria-expanded="false"
						  aria-controls="collapseDataDict">
						  Download Data Dictionary
					</a>
						
					<!-- Collapsed content -->
					<div class="collapse scroll-section" id="collapse{{project.name}}"  style="max-width: 500px">
						{% for options in metadata_options %}
							{% if options.project_name == project.name %}
								 <div class="row gx-2">
								 	<div class="col">
								      <div class="text-muted">{{options.instrument_name}}</div>
								    </div>
								    <div class="col">
								      <div class="text-muted">
								      	<a href="{{ options.url_download }}"><i class="fa-solid fa-save me-2"></i>Download</a>
								      </div>
								    </div>
								 </div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			  </div>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}